<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NutriNova Home</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <header>
            <h1>Welcome to NutriNova!</h1>
        </header>
        <main>
            <section>
                <h2>Intro</h2>
                <p>Your AI-powered nutrition assistant. Track your meals, analyze nutrition, and get personalized recommendations.</p>
            </section>
            
            <section><a href="/login">Login</a> | <a href="/signup">Sign Up</a>
            </section>
        </main>
    </body>
</html>